<td>{{id}}</td>
<td><img src="gfx/icons/{{iconPath}}.png"></td>
<td>{{name}}</td>
<td>{{size}}</td>
<td>{{type}}</td>
<td><a href="{{downloadPath}}" download="{{name}}"><i class="icon-download"></i></a></td>
<td><a href="/info/{{id}}"><i class="icon-info"></i></a></td>
<td><a href="/delete/{{id}}"><i class="icon-trash-empty"></i></a></td>