{{>header}}

<ul class="info-list">
    <li class="info-item"><span class="info-item-label">Id: </span>{{id}}</li>
    <li class="info-item"><span class="info-item-label">Name: </span>{{name}}</li>
    <li class="info-item"><span class="info-item-label">Path: </span>{{path}}</li>
    <li class="info-item"><span class="info-item-label">Size: </span>{{size}}</li>
    <li class="info-item"><span class="info-item-label">Type: </span><span class="info-item-type">{{type}} <img
                src="/gfx/icons/{{iconPath}}.png"></span></li>
    <li class="info-item"><span class="info-item-label">Savedate: </span>{{savedate}}</li>
</ul>